$WHITE: #ffffff;
$OFF_WHITE:#f1f1f1;
$OFF_WHITE2:#f0f0f0;
$LIGHT_GREY: #F5F5F5;
$PALE_GREY: #e3e3e8;
$BORDER_COLOR: #f0f0f0;
$GRAY_SHADOW:#d9dedf;
$LIGHT_GRAY:#cccccc;
$GRAY80:#ccc;
$SILVER: #c3c3c8;
$COOL_GREY: #A1A1A8;
$BLUE_GRAY:#939398;
$GRAY60:#999;
$GRAY54:#8a8a8a;
$GRAY_BG:#707070;
$CHARCOAL_GREY: #494951;
$CHARCOAL_GREY_TWO: #333338;
$OFF_BLACK: #26262a;
$BLACK34:#222222;
$DARK_BLUE: #114e77;
$CHARCOAL_BLUE_SHADOW: #3f7e9e;
$CHARCOAL_BLUE: #4e9bc2;
$DARK_SKY_BLUE: #3498db;
$LIGHT_BLUE:#007eff;
$SUPER_LIGHT_BLUE: #D9E5FF;
$BLUE: #1f68f0;
$LIGHT_RED: #ff4046;
$DARK_RED: #c3002f;
$STRAWBERRY: #ec363c;
$RED:#d0021b;
$RED_SHADOW:#b20217;
$YELLOW:#d79933;
$YELLOW_SHADOW:#b9842c;
$BRILLIANT_RED_BG:#fce2e4;
$BRILLIANT_RED:#d34a53;
$BRILLIANT_RED_BORDER:#f2c8cb;

$GREEN_BG:#d4ecdf;
$GREEN:#289e5d;
$GREEN_SHADOW:#228a51;
$GREEN_BORDER:#93ceae;

$BROWN_BG:#fcf8e4;
$BROWN:#886c3e;
$BROWN_BORDER: #f9ebce;

$CLEAR: rgba(0,0,0,0.10);

$BODY_BACKGROUND_COLOR: $LIGHT_GREY;
