.flex-row {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.flex-row > div {
  background-color: blue;
  width: 10px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.admin-table {
  width: 70%;
}

.caption {
  font-size: 12px;
  margin-top: 1px;
}

.title {
  font-size: 16px;
  font-style: oblique;
}
