@import 'colors';

$COMMON_FONT_FAMILY: tahoma, メイリオ, sans-serif;

$UNFIXED_ELEMENT_MARGIN_TOP_PRIMARY: 188px;
$UNFIXED_ELEMENT_MARGIN_TOP_SECONDARY: 65px;
$ROOT_FONT_SIZE: 10;
$SECTION_FONT_SIZE: 14;
$SUBSECTION_FONT_SIZE: 13;
$LABEL_FONT_SIZE: 12;
$FORM_FONT_SIZE: 12;
$SUBJECT_FONT_SIZE: 14;
$SUBJECT_FORM_FONT_SIZE: 14;
$PRINT_FONT_SIZE: 10;
$FORM_AREA_HEIGHT:20;
$ANCHOR_LINK_SIZE:13;
$INPUT_FORM_HIGHT:20;
$TEXTAREA_HIGHT:96;
$BUTTON_SIZE:13;
@function calc-rem($target-px) {
  @return ($target-px / $ROOT_FONT_SIZE) * 1rem;
}

$ROOT_VIEWPORT_WIDTH_MAX: 98vw;
$ROOT_VIEWPORT_WIDTH: $ROOT_VIEWPORT_WIDTH_MAX *0.98;
$ROOT_WIDTH_MAX: 100%;
$ACCORDION_WIDTH_SELECTROLE: 1296.8px;

$PRINT_VIEWPORT_WIDTH: calc-rem(1040);
$PRINT_VIEWPORT_WIDTH_CHROME: calc-rem(1040);

$MODAL_MIN_WIDTH: 680px;
$SMALL_MODAL_MIN_WIDTH: 460px;

$SUBJECT_INPUT_FORM:800px;
$SUBJECT_INPUT_FORM_HEIGHT:20px;
$SUBJECT_INPUT_LABEL:120px;

$MARGIN:10px;
$LABEL_WIDTH:150px;
$FULL_WIDTH_MARGIN:12px;
$FULL_WIDTH_LABEL:$LABEL_WIDTH;
$FULL_WIDTH_FORM:1100px - $MARGIN * 2 - $FULL_WIDTH_MARGIN * 2;
$FULL_WIDTH_SUM:$FULL_WIDTH_LABEL + $FULL_WIDTH_FORM + $MARGIN * 2 + $FULL_WIDTH_MARGIN * 2;


$TEXTAREA_TWO_COLUMN_LABEL:$LABEL_WIDTH;
$TEXTAREA_TWO_COLUMN_FORM : $FULL_WIDTH_FORM / 2 -$MARGIN  -2;
$TEXTAREA_TWO_COLUMN_SUM  :$TEXTAREA_TWO_COLUMN_LABEL + $TEXTAREA_TWO_COLUMN_FORM * 2 + $MARGIN + $FULL_WIDTH_MARGIN;

$TEXTAREA_THREE_COLUMN_LABEL:$LABEL_WIDTH;
$TEXTAREA_THREE_COLUMN_FORM :$FULL_WIDTH_FORM / 3 - $MARGIN * 2 - 6;
$TEXTAREA_THREE_COLUMN_SUM  :$TEXTAREA_TWO_COLUMN_LABEL +$TEXTAREA_TWO_COLUMN_FORM * 3 + $MARGIN * 2 ;
$CONFIDENTIAL: 'Nissan Restricted B';

$TEXT_WAITING_DOTS: '...';
